@inherits LayoutComponentBase
@using JBWebsite.Shared

<PageTitle>Joe Badger</PageTitle>

<div class="h-screen">
    <div class="h-15per">
        <MainHeader></MainHeader>
    </div>
    <div class="h-85per px-8 overflow-y-auto ">
        <main> @Body </main>
    </div>

</div>


