@namespace JBWebsiteBlazor.Components

<div class="px-4 pt-4 pb-2 pb-1 d-flex  justify-content-between bg-white position-sticky top-0">
    <div>
    </div>
    <div>
        <a href="/DownloadFiles/Badger_Joe_CV.pdf" download class="pe-2 fw-bold text-lg">&#128196 CV</a>
        <span class="fw-bold text-lg">&#128231 joe.badger@hotmail.co.uk</span>
    </div>
</div>