@namespace JBWebsiteBlazor.Components

<div class="h-100 bg-theme-colour-middle p-4 d-flex text-white">
    <div class="w-50 d-flex align-items-center ps-4">
        <h1 class="fw-bold text-3xl">Joe Badger</h1>
    </div>
    <div class="text-2xl w-50 d-flex justify-content-around align-items-center">
        <div class="px-2 HeaderLinks-@(IsActive("/"))">
            <a href="/">About</a>
        </div>
        <div class="px-2 HeaderLinks-@(IsActive("/Projects"))">
            <a href="/Projects">Projects</a>
        </div>
        <div class="px-2 HeaderLinks-@(IsActive("/Skills"))">
            <a href="/Skills">Skills</a>
        </div>
    </div>
</div>

@code
{
    [Inject] NavigationManager NavigationManager { get; set; }
    private string IsActive(string path)
    {
        return NavigationManager.Uri.EndsWith(path) ? "active" : "";
    }
}