@namespace JBWebsiteBlazor.Components

<div class="py-2 px-2" style="width: 350px">
   <div class="border border-3 rounded p-2 shadow-sm" style="border-color: #D0E7D2 !important;">
      <div class="d-flex align-items-center">
         <div class="skills-img text-center p-2">
            <img src="@Image" alt="" class="img-fluid"/>
         </div>
         <div class="ps-2">
            <div class="d-flex align-items-center">
               <div class="fw-bold text-lg">@Title</div>
               @if (DropDown)
               {
               <button class="px-2 btn-light bg-white border-0 btn-outline-light" style="box-shadow: none; outline: none; cursor: pointer" @onclick="() => _showBool = !_showBool">@(_showBool == false ? "🔽" : "🔼")</button>
               }
            </div>
            <h3 class="text-m">@Detail</h3>
         </div>
      </div>
      @if (_showBool) { <p> @Description </p> }
   </div>
</div>


@code 
{
   [Parameter] public string Title { get; set; }
   [Parameter] public string Detail { get; set; }
   [Parameter] public string Description { get; set; }
   [Parameter] public string Image { get; set; }
   [Parameter] public bool DropDown { get; set; }
   private bool _showBool = false;
}