@namespace JBWebsite.Shared

<a href="/DownloadFiles/Badger_Joe_CV.pdf" download class="pr-2 font-bold text-lg">&#128196 CV</a>
<span class="pb-4 font-bold text-lg">&#128231 joe.badger@hotmail.co.uk</span>
