@inherits LayoutComponentBase

<PageTitle>Joe Badger</PageTitle>

<div class="h-100">
    <div class="h-10">
        <MainHeader></MainHeader>
    </div>
    <div class="h-90 px-8 overflow-y-auto">
        <main> @Body </main>
    </div>
</div>