@page "/"
@inherits AboutMeBase

<div class="flex flex-col">
    <div class="p-4 pt-8 flex justify-between bg-white sticky top-0">
        <div>
            <h4 class="font-extrabold text-2xl pb-4">About Me</h4>
        </div>
        <div>
            <Contact></Contact>
        </div>

    </div>
    <div>
        <div class="mx-4">
            <h3 class="font-bold text-xl pb-4 text-theme-colour-middle">Description</h3>
            <p>
                Current Computer Science MSc student at the University of Bath.
                Gained a First Class Honours in BEng Civil Engineering with Year Long Placement at the University of Bath.
                Self taught programmer and software engineer.
            </p>

            <h3 class="font-bold text-xl pb-4 pt-8 text-theme-colour-middle">Education</h3>

        </div>
    </div>

    <div class="flex flex-wrap">
        <div class="ml-4 mr-12">
            <h3 class="font-bold pb-2">Computer Science MSc</h3>
            <h3 class="pb-4">Univeristy of Bath (Sep 2023 - Sep 2024)</h3>

            <h3 class="font-bold pb-2">Civil Engineering BEng - First Class Honours</h3>
            <h3 class="pb-4">Univeristy of Bath (Sep 2019 - Jun 2023)</h3>
        </div>
        <div class="mx-4">
            <h3 class="font-bold pb-2">Stewart's Melville College - (2005 - 2019)</h3>
            <h3 class="pb-2">Advanced Highers - A* Mathematics, A* Mathematics of Mechanics, A Physics</h3>
            <h3 class="pb-2">Highers - A* Mathematics, A* Physics, A* Geography, A* Latin, A English</h3>
            <h3 class="pb-2">National 5's - 6 A*, 2 A</h3>
        </div>
    </div>

    <div class="mx-4 mb-4">
        <h3 class="font-bold text-xl pb-4 pt-6 text-theme-colour-middle">Work Experience</h3>

        <h3 class="font-bold pb-2">Software Engineer Summer Internship</h3>
        <h3 class="pb-2">System C Healthcare Ltd - (Jun 2023 - Sep 2023)</h3>
        <p class="pb-6">
            Worked at System C Healthcare Ltd (www.systemc.com) as a software engineer. Collaborated with both the Interfacing and Research & Development departments.
            Within Interfacing, I worked as part of a SCRUM team to fix bugs in the existing client interface.
            Worked with R+D to develop a Blazor web application to act as a tool for the support team.
            Responsible for developing the front and back end of the web app, which connected to a web service that was built by the lead engineer.
            Met the requirements of the support team, and the specification set out by the lead engineer.
            This internship was an excellent first experience in software engineering and helped to improve my technical skills and understanding.

        </p>

        <h3 class="font-bold pb-2">Undergraduate Civil Engineer Placement</h3>
        <h3 class="pb-2">Rendel Ltd - (Aug 2021 - Jul 2022)</h3>
        <p class="pb-b">
            Worked at Rendel Ltd (www.rendel-ltd.com) as an undergraduate civil engineer.
            Worked as part of the bridges team, most of the year working on the category three checks of the viaducts that are being built as part of HS2 Project.
            This role involved creating 3D models of the bridges for Finite Element Analysis, using Excel spreadsheets to analyse, and perform calculations on structural
            members and writing Python scripts that would help to input thousands of rows of data into modelling software. This placement was extremely beneficial to my
            problem-solving skills and confirmed to me that my passions and skill lend themselves greatly to more of a technology-based role.
        </p>
    </div>
</div>




